/* styles.css */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #519493;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 20px 0;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
}

h3 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #555;
}

details {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

summary {
    font-size: 1.5em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    text-align: center;
}

summary::-webkit-details-marker {
    display: none; /* Remove the default marker */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="number"],
button {
    margin: 5px 0;
    padding: 10px;
    width: 250px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.form-container {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: inline-block;
    border-radius: 8px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    font-size: 1em;
    color: #333;
}

@media (max-width: 768px) {
    input[type="date"],
    input[type="text"],
    input[type="number"],
    button {
        width: 100%;
    }

    table {
        width: 100%;
    }
}
/* styles.css */

/* Existing styles */

/* Footer styling */
footer {
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Dark text color */
    text-align: center; /* Center align text */
    padding: 10px; /* Add padding */
    position: fixed; /* Fixed position at the bottom */
    bottom: 0; /* Align to the bottom of the page */
    width: 100%; /* Full width */
    border-top: 1px solid #dee2e6; /* Add a top border */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
